sudo: required

language: c

services:
  - docker

before_install:
   - if [[ "${TRAVIS_BRANCH}" == "master" ]] ; then
       echo "${DOCKER_PASSWORD}" | docker login -u "${DOCKER_USERNAME}" --password-stdin ;
     fi

jobs:
   include:
      - stage: Build images
        script: make build VERSION=6.0
        script: make push VERSION=6.0
      -
        script: make build VERSION=6.0.6
        script: make push VERSION=6.0.6
      -
        script: make build VERSION=6.1
        script: make push VERSION=6.1
      -
        script: make build VERSION=6.1.5
        script: make push VERSION=6.1.5
      -
        script: make build VERSION=7.0
        script: make push VERSION=7.0
      -
        script: make build VERSION=7.1.2
        script: make push VERSION=7.1.2
